body {
    background: #fffafa;
    font-family: 'MontserratRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0px;
    width: 79rem;
}

header {
    background: #333333;
    height: 90px;
    width: 100%;
    margin: 0;
}

header .navbar__container {
    /*border: 5px solid red;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

header .logoname__wrapper {
    display: flex;
    align-items: center;
    min-width: 46rem;
}

header .logo {
    height: 81px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 0px;
}

header h1 {
    font-size: 3.3rem;
    padding-bottom: 1rem;
    max-height: 3.3rem;  
    color: #fff;
    margin: 0;
}

nav {
    display: block;
    min-width: 30rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
    margin-left: 0px;
    margin-right: 1.1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size:18px;
}

nav a:hover, .dropdown:hover .dropbtn{
    color: #b2902a;
    border: #b2902a 2px solid;
    padding: 3px;
} 
/**/
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size:18px;
    outline: none;
    color: #fff;
    font-family: inherit;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #444444;
    min-width: 10px;
    z-index: 1;
}

.drop-content a {
    float: none;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    background-color: #555555;
}

.dropdown:hover .drop-content {
    display: block;
}

nav #menu__toggle{
    display: none;
}


main {
    height: 38rem;
    width:100%;
    text-align: center;
}

#home-page {
    margin: 0;
}

#home-page .main__container {
    display: flex;
    justify-content: space-between;
    padding: 7%;
    width: 86%;
}

#home-page .largetext__wrapper{
    width: 500px;
    font-size:15px;
    text-align: center;

}

#home-page .largeimage__wrapper {
    display:flex;
    flex-flow: column;
    align-content: flex-start;
    width: 500px;
    height: 355px;
}
#home-page img {
    width: 100%;
    height: auto !important;
}

#home-page .imgcaption {
    margin: 0;
    text-align: end;
    font-size: 10px;
    width: 100%;
}


#officers-page {
    display: none;
}

#members-page {
    display: none;
}

#alumni-page {

    display: none;
}

#performances-page {
    display: none;
}

#contact-page {
    display: none;
}


footer {
    background: #333333;
    height: 170px;
    width: 100%;
    margin: 0px;
}

footer h2 {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    padding-top:1rem;
    margin: 0;
}

.footer__links {
    width: 100%;
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: baseline;
    margin: 0;
}

footer .version {
    width: 100%;
    display: flex;
    justify-content: right;
}

footer .version p {
    color: #fff;
    margin: 0;
    font-size: 10px;
    margin-right: 1rem;
}


@media screen and (max-width: 768px) {
    body {
        width: 100vw;
    }

    header {
        width: 100%;
    }

    footer {
        width:100%;
    }

    .navbar__container {
        justify-content: space-between;
    }

    .logoname__wrapper {
        min-width: 19rem;
    }
    
    header h1 {
        font-size: 1.6rem;
        max-height: none;
        padding-bottom: 0rem;
        margin: 0;
    }

    header .toggle__wrapper{
        width:90px;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu__toggle {
        height:65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #menu__toggle .bar {

        height: 15px;
        width: 60px;
        
        transition: all 0.3s ease-in-out;
        background-color: #222222;
        margin: 0px;
 
    }

    main {
        width: 100%;
        height: 50rem;
    }

    .main__container {
        padding: 0px !important;
        width: 100% !important;
        flex-direction: column;
        align-items: center;
    }

    .largeimage__wrapper {
        width: 80% !important; 
        height: auto !important;
    }

    .largetext__wrapper {
        width: 80% !important;
        padding-bottom: 10%;
    }

    nav {
        min-width: 0 !important;
        display: none;
        z-index: 1;
        position: absolute;
        right: 0px;
        top: 78px;
        opacity: 0.9;
    }

    nav ul {
        background-color: #444444;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    
    nav li {
        display: block;
        margin-right: 20px;
        margin-left: 0px;
        padding: 5px;
    }

    .dropdown {
        padding-bottom: 10px;
    }

    .drop-content {
        position: relative;
        left: 10px;
        top: 5px;

    }

    .drop-content a {
        margin-right: 10px;
    }

    

    nav a, .dropdown a{
        color: white;
    }

    /*
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } */
}

