html, body {
    background: #fffafa;
    font-family: 'MontserratRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

header {
    background: #333333;
    height: 90px;
    width: 1270px;
    margin: 0;
}

header .navbar__container {
    /*border: 5px solid red;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

header .logoname__wrapper {
    display: flex;
    align-items: center;
}

header .logo {
    height: 81px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 0px;
}


header .groupname {
    color: #fff;
    font-size: 26px;
    min-width: 570px;   
}

nav {
    min-width: 560px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-flex;
    margin-left: 0px;
    margin-right: 18px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size:18px;
}

nav a:hover, .dropdown:hover .dropbtn {
    color: #b2902a;
    border: #b2902a 2px solid;
    padding: 3px;
} 
/**/
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size:18px;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px;
    background-color: #333333;
    font-family: inherit; 
    margin: 0;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #444444;
    min-width: 10px;
    z-index: 1;
}

.drop-content a {
    float: none;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    background-color: #555555;
}

.dropdown:hover .drop-content {
    display: block;
}

nav #menu__toggle{
    display: none;
}


main {
    height:100vh;
    width:1270px;
    text-align: center;
}

#home-page {
    margin: 0;
}

#home-page .main__container {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

#home-page .largetext__wrapper{
    width: 500px;
    font-size:15px;
    text-align: center;
}

#home-page .largeimage__wrapper {
    display:flex;
    flex-flow: column;
    align-content: flex-start;
    width: 500px;
    height: 355px;
}
#home-page img {
    width: 100%;
    height: 100%;
}

#home-page .imgcaption {
    margin: 0;
    text-align: end;
    font-size: 10px;
    width: 100%;
}


#officers-page {
    display: none;
}

#members-page {
    display: none;
}

#alumni-page {

    display: none;
}

#performances-page {
    display: none;
}

#contact-page {
    display: none;
}


footer {
    background: #333333;
    height: 170px;
    width: 1270px;
    margin: 0;
}

footer h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    padding-top:15px;

}

.footer__links {
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}


@media screen and (max-width: 767px) {
    body {
        width: 100vw;
    }
    
    header {
        width: 100%;
    }

    .navbar__container {
        justify-content: space-between;
    }
    
    header .groupname {
        font-size: 100%;
        min-width: 0px;
        max-width: 151px;
    }

    header .toggle__wrapper{
        width:90px;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu__toggle {
        height:65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #menu__toggle .bar {
        cursor: pointer;
        height: 15px;
        width: 60px;
        
        transition: all 0.3s ease-in-out;
        background-color: #222222;
        margin: 0px;
 
    }

    nav {
        display: none;
    }

    main {
        width: 100%;
        height: 100%;
    }

    .main__container {
        padding: 0px !important;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .largeimage__wrapper {
        width: 80% !important; 
        height: auto !important;
    }

    .largetext__wrapper {
        width: 80% !important;
        padding-bottom: 10%;
    }

    
    /*
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 90px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }

    .nav ul {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5 ease;
    z-index: -1;
    background: #131313;
    }

    .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
    }
    
    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } */
    footer {
        width:100%;
    }
}

/**/
